TrackingVaksinApp/TrackingVaksinApp/Connected Services/BPOMServiceReference/BPOMService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50393/BPOMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackingVaksinService" />
  <xs:import schemaLocation="http://localhost:50393/BPOMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="RegisterResult" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetAccountResult" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBPOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBPOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetBPOMResult" nillable="true" type="q4:BPOM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetVaksinResult" nillable="true" type="q5:ArrayOfBPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetVaksinDetailsResult" nillable="true" type="q6:BPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Up">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q7:BPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="UpResult" nillable="true" type="q8:BPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q9:BPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="UpdateVaksinResult" nillable="true" type="q10:BPOM_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" minOccurs="0" name="DeleteVaksinResult" nillable="true" type="q11:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_produsen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetProdusenVaksinResult" nillable="true" type="q12:ArrayOfProdusen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksinDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_produsen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksinDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetProdusenVaksinDetailsResult" nillable="true" type="q13:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksinDetailsByNoRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenVaksinDetailsByNoRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetProdusenVaksinDetailsByNoRegistrationResult" nillable="true" type="q14:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetProdusenResult" nillable="true" type="q15:Produsen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProdusen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProdusenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetListProdusenResult" nillable="true" type="q16:ArrayOfProdusen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdusen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q17:Produsen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdusenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddProdusenResult" nillable="true" type="q18:Produsen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_produsen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdusenByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetProdusenByIdResult" nillable="true" type="q19:Produsen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdusenVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q20:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProdusenVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddProdusenVaksinResult" nillable="true" type="q21:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProdusenVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q22:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProdusenVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="UpdateProdusenVaksinResult" nillable="true" type="q23:Produsen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdusenVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProdusenVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" minOccurs="0" name="DeleteProdusenVaksinResult" nillable="true" type="q24:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListProdusenVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q25:ArrayOfProdusen_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListProdusenVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteListProdusenVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q26:RumahSakit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddRSResult" nillable="true" type="q27:RumahSakit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetRSResult" nillable="true" type="q28:RumahSakit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinRS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetVaksinRSResult" nillable="true" type="q29:ArrayOfRS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinRSDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinRSDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetVaksinRSDetailsResult" nillable="true" type="q30:RS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRSVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q31:RS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRSVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddRSVaksinResult" nillable="true" type="q32:RS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListRSVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q33:ArrayOfRS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListRSVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddListRSVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRSVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q34:RS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRSVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="UpdateRSVaksinResult" nillable="true" type="q35:RS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListRSVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q36:ArrayOfRS_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListRSVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateListRSVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRSVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRSVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" minOccurs="0" name="DeleteRSVaksinResult" nillable="true" type="q37:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRumahSakit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRumahSakitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetListRumahSakitResult" nillable="true" type="q38:ArrayOfRumahSakit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailRumahSakit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailRumahSakitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetDetailRumahSakitResult" nillable="true" type="q39:RumahSakit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogArrivalVaccine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogArrivalVaccineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetLogArrivalVaccineResult" nillable="true" type="q40:ArrayOfBPOM_Log_Kedatangan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogArrivalVaccineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_registration" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogArrivalVaccineDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetLogArrivalVaccineDetailsResult" nillable="true" type="q41:BPOM_Log_Kedatangan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportArrivalVaccine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q42:BPOM_Log_Kedatangan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportArrivalVaccineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" minOccurs="0" name="ReportArrivalVaccineResult" nillable="true" type="q43:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListArrivalVaccine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q44:ArrayOfBPOM_Log_Kedatangan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListArrivalVaccineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportListArrivalVaccineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogVaccineUse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogVaccineUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetLogVaccineUseResult" nillable="true" type="q45:ArrayOfBPOM_Log_Penggunaan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogVaccineUseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogVaccineUseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetLogVaccineUseDetailsResult" nillable="true" type="q46:BPOM_Log_Penggunaan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaccineUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q47:BPOM_Log_Penggunaan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportVaccineUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" minOccurs="0" name="ReportVaccineUseResult" nillable="true" type="q48:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListVaccineUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q49:ArrayOfBPOM_Log_Penggunaan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListVaccineUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportListVaccineUseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListVaccineUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q50:ArrayOfBPOM_Log_Penggunaan_Vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListVaccineUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateListVaccineUseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasyarakat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasyarakatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetMasyarakatResult" nillable="true" type="q51:Masyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasyarakatByNik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasyarakatByNikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetMasyarakatByNikResult" nillable="true" type="q52:Masyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMasyarakat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMasyarakatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetListMasyarakatResult" nillable="true" type="q53:ArrayOfMasyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMasyarakat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q54:Masyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMasyarakatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddMasyarakatResult" nillable="true" type="q55:Masyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMasyarakat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q56:Masyarakat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMasyarakatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMasyarakatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMasyarakat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMasyarakatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMasyarakatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPasien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetListPasienResult" nillable="true" type="q57:ArrayOfPasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasienByNoRek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_rek_medis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasienByNoRekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="GetPasienByNoRekResult" nillable="true" type="q58:Pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPasien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q59:Pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="AddPasienResult" nillable="true" type="q60:Pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPasien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="data" nillable="true" type="q61:Pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPasienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditListPasien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TrackingVaksinService" minOccurs="0" name="list" nillable="true" type="q62:ArrayOfPasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditListPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditListPasienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePasien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="no_rek_medis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePasienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>