TrackingVaksinApp/TrackingVaksinApp/Connected Services/BPOMServiceReference/BPOMService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackingVaksinService.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
</xs:schema>